* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
  color: #323233;
  -webkit-font-smoothing: antialiased;
}

.page {
  min-height: 100vh;
  padding-bottom: 50px;
}

.placeholder {
  padding: 80px 16px;
  text-align: center;
  color: #969799;
}
